
$color-main-white: #FFFFFF;
$color-main-black: #000000;
$color-main-red: #E73348;
$color-main-blue: #4968AD;

$color-violet-dark: #311746;
$color-violet-light-secondary: #837490;
$color-logo-violet: #2F1658;
$color-shadow: rgba(88, 19, 27, 0.1);
$color-bg-rose-light: #FFF7F7;

$color-whitesmoke: whitesmoke;
$color-gray: gray;
$color-dark-orange: #ffd49a;
$color-light-orange: antiquewhite;
$color-green: green;
$color-light-green: lightgreen;
$color-silver: silver;